.git
.github
.direnv
.venv
.vscode
.claude
.envrc
.envrc.local

bin
dist-newstyle
# The repository is bind-mounted at /workspaces, only cabal files are copied
slides
tps

rendus
foo.md

**/*.swp
**/.DS_Store
