# requires ghcup to be in $PATH
PATH_add $(pwd)/ghc/bin # Populate with: ghcup install ghc 8.10.7 --isolate $(pwd)/ghc
PATH_add $(pwd)/hls/bin # Populate with: ghcup install hls  --isolate $(pwd)/hlc
