name: actionlint

on:
  push:
  merge_group:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # Taken from https://github.com/rhysd/actionlint/blob/v1.7.7/docs/usage.md#use-actionlint-on-github-actions
      - name: Download actionlint
        id: get_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
        shell: bash
      - name: Check workflow files
        run: |
          # We want space splitting
          # shellcheck disable=SC2086
          for file in $(git ls-files .github/workflows/*)
          do
            echo "Checking $file"
            ${{ steps.get_actionlint.outputs.executable }} -color $file || exit 1
          done
        shell: bash
